//Color variables 

$color-primary-1: #000000;
$color-primary-2: #ffffff;

$color-secondary-1: #d9bf8f;
$color-secondary-2: #f0975c;

// font variables
$display-font: 'Lato Regular';
$header-font: 'PlayfairDisplay-Italic';
$logo-font: 'KrinkesDecorPERSONAL';
