

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {  
    font-family: $display-font;
    color: $color-primary-1;
    font-weight: 300;
}


.container {
    max-width: 114rem;
    display: grid;
    grid-template-columns: 1fr repeat(4, 32.25rem) 1fr;
    grid-template-rows: 3.8rem minmax(12.8rem, 1fr) 30vh repeat(2, minmax(13.1rem, 1fr)) 30vh minmax(min-content, 70rem);
}