.collection {
    width: 90%;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    justify-content: center;

    &__line {
        height: 1px;
        background-color: #eaeaea;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &__square {
        width: 1.8rem;
        height: 1.8rem;
        background-color: $color-secondary-1;
        transform: rotate(225deg);

        &--left {
            margin-right: 5vw;
            margin-left: 5vw;
        }
        &--right {
            margin-left: 5vw;
            margin-right: 5vw;
        }


    }

    &__text {
        font-family: $header-font;
        font-weight: bold;
        font-size: 3rem;
        position: relative;

        @media (max-width: 480px) {
            font-size: 2rem;
        }
    }
}